.env
.env_backup.txt
/env
__pycache__/
.vscode/
venv/
db.sqlite3
moontreksqllite.json
# Remove MEDIA for deployment.
media/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

MoonTrekProj.sock