@import 'var';

* {
	box-sizing: border-box;
}

body {
	background-color: $site-bg !important;
	font-family: 'Roboto', sans-serif;
}

.alert p {
	margin-top: 1rem!important;
}

.new-dark-bg {
	background-color: $site-bg !important;
}

.nav-logo {
	width: 50px !important;
}

.anton {
	font-family: 'Anton', sans-serif;
}

.bowlby {
	font-family: 'Bowlby One SC', cursive;
}

.bebas {
	font-family: 'Bebas Neue', cursive;
}

.special-elite {
	font-family: 'Special Elite', cursive;
}

.stattliches {
	font-family: 'Staatliches', cursive;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.chapter-content {
	text-indent: 2rem;

	hr {
		width: 35%;
		border-top: double;
		border-color: darkgrey;
	}
}

li.starfleet {
	margin-left: -30px;
	list-style-type: none;
	vertical-align: middle;
	list-style: none;
	background-image: url(https://cdn.douglasavenue.com/moontrek/media/icons/starfleetLIicon.png);
	background-position: left;
	background-repeat: no-repeat;
	line-height: 25px;
	padding-left: 35px;
}

.foot-bottom {
	/* margin-top: -9px; */
	line-height: 1;
}

.lh-normal {
	line-height: 1;
}

.icon-list {
	display: block;
	margin-bottom: 5px;
	list-style-type: none;
	align-self: center;
	background-image: url(https://cdn.douglasavenue.com/moontrek/media/icons/starfleetLIicon.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	width: 100%;
	padding: 5px 17%;
	box-shadow: 1px 1px 5px black;
	border-radius: 5%;

	&:hover {
		background-color: #31353a;
		box-shadow: 1px 1px 5px black;
		color: whitesmoke;
		text-decoration: none;
	}
}

/* #212529 for body */

/* More Fonts
font-family: 'Syne Mono', monospace;
font-family: 'Ubuntu Mono', monospace; */

.external_link {
		text-decoration: dashed;
		color: red;
	&:hover {
		color: lightcoral;
	}
	&::after {
		content: "";
		display: inline-block;
		background: url("https://cdn.douglasavenue.com/moontrek/media/lcarsIMG/external-link-alt-solid.svg") no-repeat top right;
		background-size: 8px 8px;
		width: 9px;
		height: 12px;
	}
}

.spoiler-warning-stories {
	margin-left: 60px;
	margin-top: -15px;
}