// Colors
// LCARS CHARACTERS
$command-red: #b80606;
$ops-gold: #ff9e08;
$sci-blue: #115a60;
$si-black: #313131;
$marine-green: #09620e;
$nobody-grey: #7f7f7f;

// SITE WIDE
$site-bg: #212529;
$lighter-bg: #292c30;
