.anton {
    font-family: 'Anton', sans-serif;
}

.bowlby {
    font-family: 'Bowlby One SC', cursive;
}

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.special-elite {
    font-family: 'Special Elite', cursive;
}

.stattliches {
    font-family: 'Staatliches', cursive;
}