{% extends 'html/base.html' %}
{% load static %}
{% load addthis %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'LCARS:lcarsHome' %}">LCARS Homepage</a></li>
        <li class="breadcrumb-item"><a href="{% url 'LCARS:characterHome' %}">Character DB</a></li>
        <li class="breadcrumb-item active">{{ character.rank }} {{ character.name }}</li>
    </ol>
    <div class="row justify-content-center">
        {% if character.department > 0 %}
        {% for key, value in deptDict.items %}
        {% if key == character.department %}
        <div class="col-md-10 p-3 {{ value }} rounded shadow text-center">
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="col-md p-3 rounded shadow text-center">
                {% endif %}
                <h1 class="special-elite m-0 d-inline lcars-name-h1">{{ character.rank }} {{ character.name }}</h1>
                {% if character.rankIMG %}
                <img src="{{ character.rankIMG.url }}" alt="{{ character.name }}'s Rank!" class="d-inline ml-3 mb-3">
                {% endif %}
            </div>
        </div>
        <div class="row my-4 justify-content-between">
            <div class="col order-last p-4 text-justify border border-secondary rounded shadow">
                <h3 class="bowlby">Related Stories</h3>
                {% for story in character.story.all|dictsort:'position'|dictsort:'series' %}
                <a href="{% url 'stories:storyPage' story.slug %}" class="icon-list">{{ story.title }}</a>
                {% endfor %}
                <h3 class="bowlby">Blog Posts</h3>
                {% if character.blog_post.all %}
                {% for post in character.blog_post.all %}
                <a href="{% url 'blog:blogPost' post.slug %}" class="icon-list">{{ post.title }}</a>
                {% endfor %}
                {% else %}
                <p>No blog posts registered for this character!</p>
                {% endif %}
                <div class="mt-2 w-100">
                    <div class="addthis_inline_share_toolbox">
                        <small class="text-muted">Share this information!</small>
                    </div>
                    {% addthis_widget %}
                </div>
            </div>
            <div class="col-lg-8 p-4 text-justify border border-secondary rounded shadow character">
                {{ character.urlSafe|safe }}
            </div>
        </div>
    </div>
    {% endblock content %}