<div class="row">
    <a href="{% url 'LCARS:characterView' character.slug %}" class="lcars-head col text-right px-2 my-2 w-100">
        CLICK TO SEE FULL DETAILS...
    </a>
</div>
<div class="col p-2">
    <h2 class="lcars-head-text">{{ character.rank }} {{ character.name }}</h2>
</div>
<div class="col lcars-text">
    {{ character.content|safe|truncatewords_html:150 }}
</div>
<div class="row">
    <a href="{% url 'LCARS:characterView' character.slug %}" class="lcars-head col text-right px-2 my-2 w-100">
        CLICK TO SEE FULL DETAILS...
    </a>
</div>