{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">LCARS Homepage</li>
    </ol>
    <div class="row p-2 text-center">
        <h1 class="bowlby">Welcome To The Moon Trek LCARS Database!</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 p-4 my-2 mx-2 border border-secondary shadow">
            <h2 class="special-elite">What is LCARS?</h2>
            <p class="stattliches text-danger">
                Just a reminder, there is spoilers in most of if not all the articles, so if you're concerned with such things, you should stop here.
            </p>
            <p>
                This site is more than just a character database, although it does contain more information about the characters than anyone could possibly ever need.
            </p>
            <p>Here you can find information about several of the ships, background information behind some of the events that happened in the stories, 
                but were not followed up on, and technical details behind the technology used.</p>
            <p>This site is incomplete - the unfortunate deletion of my site led to the old character pages not being reuploaded. I will finish this as time allows, 
                but be aware, not all characters have pages yet.
            </p>
            <div class="col-md">
                <h4 class="bowlby">Characters</h4>
                <ul>
                    <li>Character</li>
                    <li>Character</li>
                    <li>Character</li>
                </ul>
            </div>
            <div class="col-md">
                <h4 class="bowlby">Ships</h4>
                <ul>
                    <li>Ship</li>
                    <li>Ship</li>
                    <li>Ship</li>
                </ul>
            </div>
            <div class="col-md">
                <h4 class="bowlby">Miscellanious</h4>
                <ul>
                    <li>Place</li>
                    <li>Item</li>
                    <li>Place</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 p-4 my-2 mx-2 border border-secondary shadow">
            <h2 class="special-elite">Random Article</h2>
        </div>
    </div>
</div>
{% endblock content %}