{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">LCARS Homepage</li>
    </ol>
    <div class="row p-2 text-center">
        <h1 class="bowlby">Welcome To The Moon Trek LCARS Database!</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 p-4 my-2 mx-2 border border-secondary shadow">
            <h2 class="special-elite">What is LCARS?</h2>
            <p class="stattliches text-white bg-danger border border-danger rounded shadow p-3 text-center" style="font-size: 1.1rem;">
                Just a reminder, there are spoilers in most of, if not all the articles, so if you're concerned with such things you should stop here.
            </p>
            <p>
                LCARS (an acronym for Library Computer Access/Retrieval System) is the Star Trek in universe OS their computers use. I have stolen it to make this database 
                have the same name! The site is more than just a character database, although it does contain more information about the characters than anyone could possibly ever need.
            </p>
            <p>
                Here you can also find information about most of the ships, background information behind some of the events that happened in the stories, 
                but were not followed up on, and technical details behind the technology used. Basically, if no one cared about it, I created an entry for it!
            </p>
            <div class="col-md">
                <h4 class="bowlby"><a href="{% url 'LCARS:characterHome' %}" class="text-primary">Characters</a></h4>
                <p>
                    It would be very difficult for Starfleet to do it's job without the many brave men and women who staff their ships. It would be even more difficult to 
                    tell a compelling story without having a diverse cast of characters in which to work with.
                </p>
                <p>
                    The <em>Character</em> section of the LCARS Database has data on most of the characters in the stories. Many of them you will find listed on the 
                    character main page, but a number you will find as easter eggs throughout the reading. 
                </p>
            </div>
            <div class="col-md">
                <h4 class="bowlby"><a href="" class="text-primary">Ships</a></h4>
                <p>The ships are one of the most interesting and important part of any Star Trek story!</p>
                <p>
                    The <em>Ship</em> section of the LCARS Database has detailed specs of all of the main ships and some of the secondary ships that appear in the Moon 
                    Trek stories. Like with the character pages, some ships are listed, others have to be found through exploring!
                </p>
            </div>
            <div class="col-md">
                <h4 class="bowlby"><a href="" class="text-primary">Miscellanious</a></h4>
                <p>
                    The <em>Miscellanious</em> section of the LCARS database is where you will find information on places, items, and technologies used in the Moon Trek 
                    universe. Some of the stuff is Star Trek canon, some of it is pure right-from-ewink's-ass beta canon. Regardless, you will find that I have put a decent 
                    amount of effort into it. I think...
                </p>
            </div>
        </div>
        <div class="col-md-5 p-4 my-2 mx-2 border border-secondary shadow">
            <h2 class="special-elite">Random Article</h2>
        </div>
    </div>
</div>
{% endblock content %}