{% extends 'html/base.html' %}
{% load static %}
{% load addthis %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'LCARS:lcarsHome' %}">LCARS Homepage</a></li>
        <li class="breadcrumb-item"><a href="{% url 'LCARS:miscHome' %}">Places & Items DB</a></li>
        <li class="breadcrumb-item active">{{ misc.name }}</li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-md p-3 rounded shadow text-center">
            <h1 class="special-elite m-0 d-inline lcars-name-h1">{{ misc.name }}</h1>
        </div>
    </div>
    <div class="row my-4 justify-content-between">
        <div class="col order-last p-4 text-justify border border-secondary rounded shadow">
            <h3 class="bowlby">Related Stories</h3>
            {% if misc.story.all %}
            {% for story in misc.story.all %}
            <a href="{% url 'stories:storyPage' story.slug %}" class="icon-list">{{ story.title }}</a>
            {% endfor %}
            {% else %}
            <p>No Related Stories Listed.</p>
            {% endif %}
            <h3 class="bowlby">Blog Posts</h3>
            {% if misc.blog_post.all %}
            {% for post in misc.blog_post.all %}
            <a href="{% url 'blog:blogPost' post.slug %}" class="icon-list">{{ post.title }}</a>
            {% endfor %}
            {% else %}
            <p>No Related Blog Posts Listed.</p>
            {% endif %}
            <div class="mt-2 w-100">
                <div class="addthis_inline_share_toolbox">
                    <small class="text-muted">Share this information!</small>
                </div>
                {% addthis_widget %}
            </div>
        </div>
        <div class="col-lg-8 p-4 text-justify border border-secondary rounded shadow character lcars-content">
            {{ misc.urlSafe|safe }}
        </div>
    </div>
</div>
{% endblock content %}