{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'LCARS:lcarsHome' %}">LCARS Homepage</a></li>
        <li class="breadcrumb-item active">Ship Database</li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-md-3 m-2 p-3 border border-secondary">
            <h3 class="special-elite">Ships...</h3>
            <div class="col ml-2">
                <h4 class="m-1 anton">Starfleet Ships</h3>
                <ul>
                {% for ship in object_list %}
                    {% if ship.faction == 1 %}
                    <li><a href="{% url 'LCARS:shipPartialView' ship.slug %}" id="shipLink">{{ ship.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <h4 class="m-2 anton">Other Factions</h4>
            <ul>
                <li>Other Ships</li>
            </ul>
        </div>
        <div class="col-md-6 m-2 p-3 border border-secondary shadow">
            <div id="lcarsReturn" class="col-md">
                <h3 class="special-elite">Data Display Below...</h3>
                <p>Click on a ship link to preview their information here!</p>
                <!-- AJAX RETURN GOES HERE. -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).off("click", "#shipLink").on("click", '#shipLink', function (e) {
        let shipURL = $( this ).attr( "href" );
        e.preventDefault()
        $.ajax({
            url: shipURL,
            method: 'get',
            data: $(this).serialize(),
            success: function(serverResponse) {
                $( '#lcarsReturn' ).html(serverResponse);
            }
        })
    })
</script>


{% endblock content %}