{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'LCARS:lcarsHome' %}">LCARS Homepage</a></li>
        <li class="breadcrumb-item"><a href="{% url 'LCARS:shipHome' %}">Ship Database</a></li>
        <li class="breadcrumb-item active">{{ ship.name }}</li>
    </ol>
    <div class="row justify-content-center">
        {% if ship.faction > 0 %}
        {% for key, value in factionDict.items %}
        {% if key == ship.faction %}
        <div class="col-md-10 p-3 {{ value }} rounded shadow text-center">
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="col-md p-3 rounded shadow text-center">
                {% endif %}
                <h1 class="special-elite m-0 d-inline lcars-name-h1">{{ ship.name }}</h1>
            </div>
        </div>
        <div class="row my-4 justify-content-between">
            <div class="col-md-4 p-4 text-justify border border-secondary rounded shadow">
                <h3 class="bowlby">Related Stories</h3>
                {% for story in ship.story.all %}
                <a href="{% url 'stories:storyPage' story.slug %}" class="icon-list">{{ story.title }}</a>
                {% endfor %}
                <h3 class="bowlby">Blog Posts</h3>
                {% if ship.blog_post.all %}
                {% for post in ship.blog_post.all %}
                <a href="{% url 'blog:blogPost' post.slug %}" class="icon-list">{{ post.title }}</a>
                {% endfor %}
                {% else %}
                <p>No blog posts registered for this ship!</p>
                {% endif %}
            </div>
            <div class="col-md-8 p-4 text-justify border border-secondary rounded shadow lcars-content">
                {{ ship.urlSafe|safe }}
            </div>
        </div>
    </div>
    {% endblock content %}