{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'LCARS:lcarsHome' %}">LCARS Homepage</a></li>
        <li class="breadcrumb-item"><a href="{% url 'LCARS:shipHome' %}">Ship Database</a></li>
        <li class="breadcrumb-item active">{{ ship.name }}</li>
    </ol>
    <div class="row justify-content-center">
        {% if ship.faction > 0 %}
        {% for key, value in factionDict.items %}
        {% if key == ship.faction %}
        <div class="col-md-10 p-3 {{ value }} rounded shadow text-center">
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="col-md p-3 rounded shadow text-center">
                {% endif %}
                <h1 class="special-elite m-0 d-inline shipname">{{ ship.name }}</h1>
            </div>
        </div>
        <div class="row my-4 justify-content-between">
            <div class="col-md-4 p-4 text-justify border border-secondary rounded shadow">
                <h3 class="bowlby">Related Stories</h3>
                <ul>
                    {% for story in ship.story.all %}
                    <li class="icon-list"><a href="{% url 'stories:storyPage' story.slug %}">{{ story.title }}</a></li>
                    {% endfor %}
                </ul>
                <h3 class="bowlby">Blog Posts</h3>
                {% if ship.blog_post.all %}
                <ul>
                    {% for post in ship.blog_post.all %}
                    <li class="icon-list"><a href="{% url 'blog:blogPost' post.slug %}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No blog posts registered for this ship!</p>
                {% endif %}
            </div>
            <div class="col-md-8 p-4 text-justify border border-secondary rounded shadow lcars-content">
                {{ ship.urlSafe|safe }}
            </div>
        </div>
    </div>
    {% endblock content %}