{% if messages %}
{% for message in messages %}
<div class="container-fluid">
    <div class="row pt-4 justify-content-md-center">
        <div class="alert alert-{{ message.tags }} w-100 text-center">
            {{ message }}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% for comment in comments %}
{% if comment.is_admin %}
<div class="m-2 p-2 shadow rounded border border-danger">
    {% else %}
    <div class="m-2 p-2 shadow rounded border border-secondary">
        {% endif %}
        <div class="row px-3 py-1">
            <div class="col-md-3 p-2">{{ comment.commentor }}
                {% if comment.is_admin %}
                <img src="https://douglasave-static.sfo3.digitaloceanspaces.com/moontrek/media/icons/comment-ewink.png"
                    alt="ewink posted comment!" class="comment-img">
                {% else %}
                <img src="https://douglasave-static.sfo3.digitaloceanspaces.com/moontrek/media/icons/comment-default.png"
                    alt="A wonderful reader posted comment!" class="comment-img">
                {% endif %}
            </div>
            <div class="col-md-8 p-2 comment-text rounded">{{ comment.comment }}</div>
        </div>
        <div class="text-right">
            <small>Posted at {{ comment.created_at|date:"l, N j, Y @ f A" }}</small>
        </div>
    </div>
    {% endfor %}