{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'stories:storyHome' %}">Stories</a></li>
        <li class="breadcrumb-item"><a href="{% url 'stories:storyPage' object.story.slug %}">{{ object.story.title }}</a></li>
        <li class="breadcrumb-item active">{{ object.title }}</li>
    </ol>
    <div class="row p-2 m-2 align_items_center justify-content-center">
        <div class="col-md-1 text-center">
            {% if object.chapter_number >= 1 %}
                {% for chapter in allChapters %}
                    {% if chapter.story == object.story %}{% if chapter.chapter_number == object.chapter_number|add:-1 %}
                            <a href="{% url 'stories:chapterPage' story_slug=object.story.slug slug=chapter.slug %}">
                                <span style="font-size: 3.3rem;" class="text-secondary"><i class="fas fa-arrow-circle-left" data-toggle="tooltip" data-placement="top" 
                                    title="Previous Chapter - {{ chapter.title }}"></i></a>
                    {% endif %}{% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-10 text-center align-self-center pt-3">
            <h3 class="special-elite">
                {% if object.chapter_number != 0 and object.epilogue == False %}
                    Chapter {{ object.chapter_number }} - 
                {% endif %}
                {{ object.title }}</h3>
        </div>
        <div class="col-md-1 text-center">
            {% for chapter in allChapters %}
            {% if chapter.story == object.story %}{% if chapter.chapter_number == object.chapter_number|add:1 %}
            <a href="{% url 'stories:chapterPage' story_slug=object.story.slug slug=chapter.slug %}">
                <span style="font-size: 3.3rem;" class="text-secondary"><i class="fas fa-arrow-circle-right" data-toggle="tooltip" data-placement="top" 
                    title="Next Chapter - {{ chapter.title }}"></i></a>
                {% endif %}{% endif %}
            {% endfor %}
        </div>
    </div>
    <section class="row m-3 p-4 border border-dark shadow rounded">
        <article class="col chap-indent">
            {{ object.content|safe }}
        </article>
    </section>
    <div class="row p-2 m-2 align_items_center justify-content-around">
        <div class="col-md-1 text-center">
            {% if object.chapter_number >= 1 %}
                {% for chapter in allChapters %}
                    {% if chapter.story == object.story %}{% if chapter.chapter_number == object.chapter_number|add:-1 %}
                            <a href="{% url 'stories:chapterPage' story_slug=object.story.slug slug=chapter.slug %}">
                                <span style="font-size: 3.3rem;" class="text-secondary"><i class="fas fa-arrow-circle-left" data-toggle="tooltip" data-placement="top" 
                                    title="Previous Chapter - {{ chapter.title }}"></i></a>
                    {% endif %}{% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-1 text-center">
            {% for chapter in allChapters %}
            {% if chapter.story == object.story %}{% if chapter.chapter_number == object.chapter_number|add:1 %}
            <a href="{% url 'stories:chapterPage' story_slug=object.story.slug slug=chapter.slug %}">
                <span style="font-size: 3.3rem;" class="text-secondary"><i class="fas fa-arrow-circle-right" data-toggle="tooltip" data-placement="top" 
                    title="Next Chapter - {{ chapter.title }}"></i></a>
                {% endif %}{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $( 'body' ).tooltip({ selector: '[data-toggle=tooltip]' })
    });
</script>
{% endblock content %}
