{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'stories:storyHome' %}">Stories</a></li>
        <li class="breadcrumb-item active">{{ object.title }}</li>
    </ol>
    <div class="row p-2 m-2">
        <div class="col text-center">
            <h2 class="special-elite">{{ object.title }}</h2>
            <img src="{{ object.image.url }}" alt="{{ object.title }}'s Header Image!" class="img-fluid rounded mx-auto d-block shadow">
        </div>
    </div>
    <div class="row m-3 p-4 border border-dark shadow">
        <div class="col">
            {{ object.summary|safe }}
        </div>
    </div>
    <div class="row m-3 p-4 border border-dark justify-content-start">
        <div class="col-md-6">
            <h3 class="bowlby">Chapter List</h3>
            <div class="col py-3 px-3 border border-dark rounded shadow">
                <p>If you want to read the story in your browser, select from below.</p>
                <ul class="chapter-list">
                {% for chapter in object.chapters.all %}
                <a href="{% url 'stories:chapterPage' story_slug=object.slug slug=chapter.slug %}"><li class="starfleet">
                    {% if chapter.chapter_number != 0 %}
                        Chapter {{ chapter.chapter_number }} - 
                    {% endif %}
                        {{ chapter.title }}</li></a>
                {% endfor %}
                </ul>
            </div>
            <h3 class="bowlby mt-3">Offline Options</h3>
            <div class="col py-3 px-3 border border-dark rounded shadow">
                <ul>
                    <li class="starfleet">Download Text</li>
                    <li class="starfleet">Download PDF</li>
                </ul>
            </div>
            <h3 class="bowlby mt-3">Blog Posts</h3>
            <div class="col py-3 px-3 border border-dark rounded shadow">
                <p>Blog posts about this story.</p>
                <ul>
                    <li class="starfleet">Why Does It Suck?</li>
                    <li class="starfleet">No, really, why does it suck?</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="bowlby">More Stuff!</h3>
            <div class="col py-3 px-5 border border-dark rounded shadow">
                <h4 class="stattliches">Related Stories</h4>
                <p>If there are any.</p>
                <h4 class="stattliches">Characters</h4>
                <p>Probably a couple.</p>
                <h4 class="stattliches">Ships</h4>
                <p>One or two.</p>
                <h4 class="stattliches">Locations.</h4>
                <p>Probably not vertical lists, but inline ones for space.</p>
            </div>
        </div>
    </div>
    <div class="row m-3 p-4 border border-dark justify-content-start">

        <div class="col-md-8">
            <p>Comment Logic Here.</p>
        </div>
    </div>
</div>
{% endblock content %}