{% extends 'html/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'stories:storyHome' %}">Stories</a></li>
        <li class="breadcrumb-item active">{{ object.title }}</li>
    </ol>
    <div class="row p-2 m-2">
        <div class="col text-center">
            <h2 class="special-elite">{{ object.title }}</h2>
            <img src="{{ object.image.url }}" alt="{{ object.title }}'s Header Image!" class="img-fluid rounded mx-auto d-block shadow">
        </div>
    </div>
    <div class="row m-3 p-4 border border-dark shadow">
        <div class="col">
            {{ object.summary|safe }}
        </div>
    </div>
    <div class="row m-3 p-4 border border-dark justify-content-start">
        <div class="col-md-6">
            <h3 class="bowlby">Chapter List</h3>
            <div class="col py-3 px-3 border border-dark rounded shadow">
                <p>If you want to read the story in your browser, select from below.</p>
                <ul class="chapter-list">
                {% for chapter in object.chapters.all|dictsort:"chapter_number" %}
                <a href="{% url 'stories:chapterPage' story_slug=object.slug slug=chapter.slug %}"><li class="starfleet">
                    {% if chapter.chapter_number != 0 and chapter.epilogue == False %}
                        Chapter {{ chapter.chapter_number }} - 
                    {% endif %}
                        {{ chapter.title }}</li></a>
                {% endfor %}
                </ul>
            </div>
            <h3 class="bowlby mt-3">Offline Options | Full Stories</h3>
            <div class="col py-3 px-3 border border-dark rounded shadow">
                <ul>
                    {% if object.fullStoryEPUB %}
                    <a href="{{ object.fullStoryEPUB.url }}"><li class="starfleet">Download {{ object.title }}'s EPUB</li></a>
                    {% else %}
                    <li class="starfleet">EPUB Version Not Uploaded Yet!</li></a>
                    {% endif %}
                    {% if object.fullStoryPDF %}
                    <a href="{{ object.fullStoryPDF.url }}"><li class="starfleet">Download {{ object.title }}'s PDF</li></a>
                    {% else %}
                    <li class="starfleet">PDF Version Not Uploaded Yet!</li></a>
                    {% endif %}
                </ul>
            </div>
            <h3 class="bowlby mt-3">Blog Posts</h3>
            <div class="col py-3 px-3 border border-dark rounded shadow">
                <p>Blog posts about this story.</p>
                <ul>
                    {% if object.blog_post.all %}
                        {% for post in object.blog_post.all %}
                        <a href="{% url 'blog:blogPost' post.slug %}"><li class="starfleet">{{ post.title }}</li></a>
                        {% endfor %}
                    {% else %}
                        <li class="starfleet">No related Blog Posts.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="bowlby">More Stuff!</h3>
            <div class="col py-3 px-5 border border-dark rounded shadow">
                <h4 class="stattliches">Characters</h4>
                <ul class="list-inline">
                    {% for character in object.characters.all|dictsort:'name' %}
                    <li class="list-inline-item"><a href="{% url 'LCARS:characterView' character.slug %}">{{ character.name }}</a>, </li>
                    {% endfor %}
                </ul>
                <h4 class="stattliches">Ships</h4>
                <ul class="list-inline">
                    {% for ship in object.ships.all|dictsort:'name' %}
                    <li class="list-inline-item"><a href="{% url 'LCARS:shipView' ship.slug %}">{{ ship.name }}</a>, </li>
                    {% endfor %}
                </ul>
                <h4 class="stattliches">Locations.</h4>
                <p>Probably not vertical lists, but inline ones for space.</p>
            </div>
        </div>
    </div>
    <div class="row m-3 p-4 border border-dark justify-content-end shadow">
        <div class="col-md-6">
            <form action="{% url 'stories:addComment' object.pk %}" method="POST" id="newComment">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="commentor" style="text-decoration: underline;">Who You Are*</label>
                    <input type="text" class="form-control" name="commentor" id="commentor" placeholder="Name/ID/@Whatever" aria-describedby="IDHelp" required>
                    <small id="IDHelp" class="lh-normal text-muted"><span class="text-danger">Required.</span> Real name, internet name, IDGAF, as long as you identify yourself somehow.</small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mt-2 py-2">
                        <label for="comment" style="text-decoration: underline;">Comment Below*</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3" aria-describedby="CommentHelp" required></textarea>
                        <small id="CommentHelp" class="text-muted"><span class="text-danger">Required, duh.</span> 200 Characters MAX - No spoilers please.</small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6 my-3 p-2" id="comments">
            {% for comment in comments %}
            <div class="row m-2 p-2 border border-secondary shadow rounded">
                <div class="col-md-3">{{ comment.commentor }}</div>
                <div class="col-md">{{ comment.comment }}</div>
                <div class="col-md-12 mx-2 my-2 text-right text-muted">
                    <small>Posted at {{ comment.created_at|date:"l, N j, Y @ f A" }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $('form').submit(function (e) {
        e.preventDefault()
        $.ajax({
            url: '{% url "stories:addComment" object.pk %}',
            method: 'post',
            data: $(this).serialize(),
            success: function(serverResponse) {
                $( '#comments' ).html(serverResponse);
                $( 'form' ).trigger("reset");
            }
        })
    })
</script>
{% endblock content %}
