{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'stories:storyHome' %}">Home</a></li>
        <li class="breadcrumb-item active">404 - Page Not Found</li>
    </ol>
    <h1 class="text-center bowlby"><i class="fas fa-exclamation-triangle"></i> ERROR 404 :: Page Not Found <i class="fas fa-exclamation-triangle"></i></h1>
    <h2 class="text-center special-elite">Sorry About This!</h2>
    <div class="row">
        <div class="col-md p-5">
            <img src="https://douglasave-static.sfo3.digitaloceanspaces.com/da-all/shamikosad.png" alt="Sad Shamiko is Sad..." class="mx-auto">
        </div>
        <div class="col-md p-5">
            <p>So, what has probably happened is that you’ve followed a link to the old Moon Trek site, which was much crappier, but has been around so long that 
                there are probably a million dead links out there. This is no problem, though! Everything that was on the old site is on this one, so it’s just a 
                matter of getting you where you want to go!</p>
            
            <div class="row text-center">
                <div class="col p-1">
                    <h3 class="text-center special-elite">Find A Story</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col p-1 mb-3">
                    <a href="{% url 'stories:storyHome' %}" class="btn btn-primary btn-lg active text-center mx-auto" role="button" aria-pressed="true">Stories Main Page</a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col p-1">
                    <h3 class="text-center special-elite">LCARS (Characters, Ships, Places!) Database</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col p-1 mb-3">
                    <a href="{% url 'LCARS:lcarsHome' %}" class="btn btn-primary btn-lg active text-center mx-auto" role="button" aria-pressed="true">Stories Main Page</a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col p-1">
                    <p>Thanks for stopping by, and if neither of those links is what you want, check out the <a href="{% url 'base:landingPage' %}">HOMEPAGE</a> 
                        or contact me on <a href="https://www.twitter.com/erinwinking">Twitter</a> or via the contact link at the top of the page!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}