{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'stories:storyHome' %}">Home</a></li>
        <li class="breadcrumb-item active">{{ user.username }}'s Profile</li>
    </ol>
    <div class="row">
        <div class="col-md align-self-center text-center">
            <h3 class="p-2 bowlby">{{ user.first_name }} {{ user.last_name }}</h3>
            <img class="rounded shadow img-fluid mx-auto d-block" src="{{ user.profile.image.url }}" alt="{{ user.username }}'s profile picture!">
        </div>
        <div class="col-md-7 p-3">
            <h1 class="ml-3 special-elite">{{ user.username }}</h1>
            <hr class="my-3 mx-2 border border-info">
            <div class="col p-4 border border-primary rounded shadow">
                <p>{{ user.profile.about|safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}