{% extends 'html/base.html' %} {% load static %} {% load addthis %} {% block content %}
<div class="container">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item">
            <a href="{% url 'stories:storyHome' %}">Stories</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{% url 'blog:blogHome' %}">Blog Main Page</a>
        </li>
        <li class="breadcrumb-item active">{{ object.title }}</li>
    </ol>
    <div id="subcontainer" class="rounded border border-secondary shadow mb-5 p-3">
        <header class="row blog-title m-1 p-2 rounded shadow">
            <div class="col-md text-center">
                <h1 class="bowlby">{{ object.title }}</h1>
                {% if object.related_story.all %}
                {% for story in object.related_story.all %}
                <p class="text-right text-muted text-uppercase my-0 py-0 related-to">
                    Related to
                    <a href="{% url 'stories:storyPage' story.slug %}" style="color: grey">{{ story.title }}</a>
                </p>
                {% endfor %}
                {% endif %}
            </div>
        </header>
        <div class="text-right w-100">
            <div class="addthis_inline_share_toolbox mr-4">
                <small class="text-muted comment-help">Share with someone you love or hate, depending on your
                    opinion!</small>
            </div>
            {% addthis_widget %}
        </div>
        <div class="row py-2 px-5">
            <div class="col-md">{{ post.urlSafe|safe }}</div>
        </div>
        <hr class="my-4 mx-5 border-primary" />
        <div class="row justify-content-end align-items-center mb-5">
            <div class="col-md-2">
                <img src="{{ object.author.profile.image.url }}" alt="{{ object.author }}"
                    class="rounded shadow d-block author-img float-right" />
            </div>
            <div class="col-md-3 text-right p-3">
                <h3>
                    Posted by
                    <a href="{% url 'base:profilePage' object.author.username %}">{{ object.author }}</a>
                </h3>
                <h6 class="text-muted">
                    Posted On {{ object.date_posted|date:'F j, Y' }}
                </h6>
            </div>
        </div>
    </div>
</div>
{% endblock content %}