{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container rounded border border-secondary shadow mb-5 p-3">
    <ol class="breadcrumb text-light bg-dark">
        <li class="breadcrumb-item"><a href="{% url 'stories:storyHome' %}">Stories</a></li>
        <li class="breadcrumb-item active">Blog Main Page</li>
    </ol>
    {% for post_obj in object_list %}
    <div class="col p-4">
        <h1 class="bowlby">{{ post_obj.title }}</h1>
        <h3 class="text-muted stattliches">Posted by <a href="{% url 'base:profilePage' post_obj.author.username %}">
                {{ post_obj.author }}</a></h3>
        <small class="text-primary">{{ post_obj.date_posted|date:'F j, Y' }}</small>
        <div style="display:flex">
            {% for tag in post_obj.tags.all %}
            <a href="#" class="mr-1 badge badge-danger shadow">#{{ tag }}</a>
            {% endfor %}
        </div>
        <p>{{ post_obj.content|safe|truncatewords_html:50 }}</p>
        <p class="text-right bowlby"><a href="{% url 'blog:blogPost' post_obj.slug %}">Read More...</a></p>
        <hr class="my-4 border-primary">
    </div>
    {% endfor %}
    {% if is_paginated %}
    <div class="row justify-content-end">
        <div class="btn-toolbar mx-5" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="Pagination Group">
                {% if page_obj.has_previous %}
                {% if page_obj.number == 1 %}
                <button type="button" class="btn btn-ouline-primary disabled"><i
                        class="fas fa-angle-double-left"></i></button>
                {% else %}
                <a href="?page=1"><button type="button" class="btn btn-outline-primary"><i
                            class="fas fa-angle-double-left"></i></button></a>
                {% endif %}
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a href="?page={{ num }}"><button type="button" class="btn btn-primary">{{ num }}</button></a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a href="?page={{ num }}">
                    <button type="button" class="btn btn-outline-primary">{{ num }}</button></a>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button"
                            class="btn btn-outline-primary"><i class="fas fa-angle-double-right"></i></button></a>
                    {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}