{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'stories:storyHome' %}">Stories</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'blog:blogHome' %}">Blog Main Page</a></li>
    <li class="breadcrumb-item active">{{ object.title }}</li>
</ol>
<div class="container rounded border border-secondary shadow mb-5 p-3">
    <div class="row">
        <div class="col-md text-center">
            <h1>{{ object.title }}</h1>
            <hr class="my-4 border-info">
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md">
            {{ object.content|safe }}
        </div>
    </div>
    <hr class="my-4 mx-5 border-primary">
    <div class="row justify-content-end mb-5">
        <div class="col-4 text-right">
            <h3>Posted by <a href="{% url 'base:profilePage' object.author.username %}" class="text-info">{{ object.author }}</a></h3>
            <h6 class="text-muted">Posted On {{ object.date_posted|date:'F j, Y' }}</h6>
        </div>
    </div>
</div>
{% endblock content %}